body {
  font-family: "Poppins", sans-serif;
  color: #22343d;
  background-color: #f0f4f8;
}
/* reset  */
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
  color: currentColor;
}
button {
  border: none;
  background: none;
  padding: 0;
}
input,
textarea,
button {
  font-family: inherit;
  line-height: inherit;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* common */
.container {
  width: 100%;
  max-width: 350px;
  padding: 0 31px;
  margin: 0 auto;
}
@media screen and (min-width: 1150px) {
  .container {
    max-width: 1150px;
    padding: 0 20px;
  }
}
/* HEADER */
.page-header {
  margin-bottom: 25px;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-logo {
  margin-right: 237px;
}
.logo {
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93333;
  color: #173a56;
  gap: 8px;
  display: inline-flex;
  align-items: center;
  padding: 24px 0;
}
.nav-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover,
.nav-link:focus {
  font-weight: 600;
}
.header-nav {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  gap: 30px;
  align-items: center;
}
.header-buttons {
  display: flex;
  align-items: center;
  gap: 21px;
  margin-left: 80px;
}
.button-first {
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #173a56;
  width: 105px;
  height: 42px;
  border-radius: 4px;
  border: 1px solid #bcd0e5;
}
.button-second {
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  border-radius: 4px;
  width: 113px;
  height: 42px;
  background: #02897a;
}
@media screen and (min-width: 1150px) {
  .logo {
    gap: 16px;
  }
}
/* hero section */
.hero-section {
  margin-bottom: 100px;
}
.container.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 35px;
}
.hero-text-container {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.hero-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
}
.hero-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55556;
}
.hero-buttons {
  display: flex;
  gap: 30px;
  align-items: center;
}
.button-first-hero {
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  border-radius: 4px;
  background: #02897a;
  padding-block: 15px;
  padding-inline: 41px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-second-hero {
  font-weight: 600;
  font-size: 16px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #02897a;
  gap: 9px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}
/* features-section */
.features-section {
  margin-bottom: 50px;
}
.features-title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  margin-bottom: 50px;
}
.features-list {
  display: flex;
  gap: 30px;
  margin-bottom: 50px;
}
.features-item {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: flex-start;
}
.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-container.icon-features-arrow {
  border-radius: 19px;
  width: 54px;
  height: 54px;
  background: #02897a;
}
.icon-container.icon-features-icon {
  border-radius: 19px;
  width: 54px;
  height: 54px;
  background: #4d8dff;
}
.icon-container.icon-features-heart {
  border-radius: 19px;
  width: 54px;
  height: 54px;
  background: #740a76;
}
.icon-container.icon-features-clock {
  border-radius: 19px;
  width: 54px;
  height: 54px;
  background: #f03e3d;
}
.features-text-container {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.features-info {
  font-weight: 600;
  font-size: 22px;
}
.features-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
}
.features-button-container {
  display: flex;
  justify-content: center;
}
.button-features {
  border-radius: 4px;
  background: #02897a;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  padding-block: 15px;
  padding-inline: 33px;
  margin: 0 auto;
  min-width: 178px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-first:hover,
.button-first:focus,
.button-second:hover,
.button-second:focus,
.button-first-hero:hover,
.button-first-hero:focus,
.button-features:hover,
.button-features:focus {
  background-color: #026c5e;
}
/* managment */
.container.management-container {
  display: flex;
  justify-content: center;
  gap: 85px;
}
.management-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.management-title {
  font-weight: 700;
  font-size: 32px;
  display: inline-flex;
  flex-direction: column;
  margin-bottom: 25px;
}
.management-title-part {
  font-weight: 600;
  font-size: 16px;
}
.management-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.management-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.management-title-info {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.625;
}
.management-info {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
}
/* customer */

.customer-icon-box {
  border: 2.92px solid #fff;
  border-radius: 14px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 10px;
}
.customer-icon-orange {
  background: #f90;
}
.customer-icon-red {
  background: #f03e3d;
}
.customer-icon-blue {
  background: #4d8dff;
}
