body {
  font-family: "Poppins", sans-serif;
  color: #22343d;
  background-color: #ffffff;
}
/* reset  */
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
  color: currentColor;
}
button {
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
}
input,
textarea,
button {
  font-family: inherit;
  line-height: inherit;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* common */
.container {
  width: 100%;
  max-width: 411px;
  padding: 0 10px;
  margin: 0 auto;
}
@media screen and (min-width: 700px) {
  .container {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 20px;
  }
}
/* HEADER */
.page-header {
  box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.25);
}
.header-container {
  display: flex;
  justify-content: space-between;
}
.header-logo {
  display: inline-flex;
  align-items: center;
  padding: 17px 0px;
  gap: 8px;
}
.logo {
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93333;
  color: #173a56;
}
.header-nav {
  display: flex;
}
.nav-list {
  display: none;
}
.header-buttons {
  display: none;
}
@media screen and (min-width: 700px) {
  .page-header {
    box-shadow: none;
  }
  .header-container {
    align-items: center;
  }
  .header-logo {
    margin-right: auto;
  }
  .logo {
    gap: 16px;
    display: inline-flex;
    align-items: center;
    padding: 22px 0px;
  }
  .nav-link {
    position: relative;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-link.current,
  .nav-link:hover,
  .nav-link:focus {
    font-weight: 600;
  }
  .header-nav {
    align-items: center;
    flex: 1;
  }
  .nav-list {
    display: flex;
    gap: 30px;
    align-items: center;
  }
  .header-buttons {
    display: flex;
    align-items: center;
    gap: 21px;
    margin-left: 80px;
  }
  .button-first {
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #173a56;
    width: 105px;
    height: 42px;
    border-radius: 4px;
    border: 1px solid #bcd0e5;
  }
  .button-second {
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    width: 113px;
    height: 42px;
    background: #02897a;
  }
  .mobile-burger-btn {
    display: none;
  }
}
/* mobile menu */
.burger-icon {
  display: block;
}
.mobile-burger-btn {
  padding: 20px 27px;
  background-color: transparent;
}
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
  visibility: hidden;
  pointer-events: none;
  z-index: 1;
}
.mobile-menu-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 80px;
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-close-button {
  position: absolute;
  width: 24px;
  height: 24px;
  padding: 0;
  top: 24px;
  right: 24px;
  background-color: #e7e9fc;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.mobile-close-button:hover {
  background-color: #026c5e;
}
.mobile-nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}
.mobile-nav-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.66667;
  text-align: center;
}
.mobile-nav-link:hover,
.mobile-nav-link:focus {
  color: #026c5e;
}
.mobile-nav-link.current {
  color: #026c5e;
}
.mobile-menu-buttons {
  display: flex;
  justify-content: center;
  gap: 60px;
}
.mobile-button-first {
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #173a56;
  padding: 16px 37px;
  border-radius: 4px;
  border: 1px solid #bcd0e5;
  white-space: nowrap;
}
.mobile-button-second {
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  border-radius: 4px;
  padding: 16px 35px;
  background: #02897a;
  white-space: nowrap;
}
/* hero section */
.hero-section {
  padding-top: 30px;
  padding-bottom: 100px;
}
.container.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column-reverse;
  gap: 11px;
}
.hero-text-container {
  display: flex;
  flex-direction: column;
  gap: 23px;
  max-width: 369px;
  min-width: 0;
}
.hero-title-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.66667;
  text-align: center;
}
.hero-text {
  max-width: 326px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55556;
  text-align: center;
}
.hero-buttons {
  display: flex;
  gap: 28px;
  align-items: center;
}
.hero-button {
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  border-radius: 4px;
  background: #02897a;
  padding-block: 15px;
  padding-inline: 24px;
  cursor: pointer;
  white-space: nowrap;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-link {
  font-weight: 600;
  font-size: 16px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #02897a;
  gap: 9px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  white-space: nowrap;
}
.hero-image-container {
  flex: 1.2;
  max-width: 338px;
  min-width: 0;
}
.hero-image {
  display: block;
  width: 100%;
}
@media screen and (min-width: 700px) {
  .hero-section {
    padding-top: 25px;
  }
  .container.hero-container {
    justify-content: flex-start;
    flex-direction: row;
    gap: 35px;
  }
  .hero-text-container {
    gap: 45px;
    max-width: 465px;
    height: auto;
    flex: 1;
    /* flex-shrink: 0; */
  }
  .hero-title-container {
    align-items: flex-start;
    gap: 18px;
  }
  .hero-title {
    max-width: 410px;
    font-size: 40px;
    line-height: 1.5;
    text-align: start;
  }
  .hero-text {
    max-width: 465px;
    text-align: start;
  }
  .hero-buttons {
    gap: 30px;
  }
  .hero-button {
    padding-inline: 41px;
  }
  .hero-image-container {
    max-width: 610px;
  }
}
/* features-section */
.features-title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  margin-bottom: 50px;
}
.features-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin-bottom: 32px;
}
.features-item {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  width: 100%;
  max-width: 240px;
  text-align: center;
}
.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-container.icon-features-arrow {
  border-radius: 19px;
  width: 54px;
  height: 54px;
  background: #02897a;
}
.icon-container.icon-features-icon {
  border-radius: 19px;
  width: 54px;
  height: 54px;
  background: #4d8dff;
}
.icon-container.icon-features-heart {
  border-radius: 19px;
  width: 54px;
  height: 54px;
  background: #740a76;
}
.icon-container.icon-features-clock {
  border-radius: 19px;
  width: 54px;
  height: 54px;
  background: #f03e3d;
}
.features-text-container {
  display: flex;
  flex-direction: column;
  gap: 13px;
  align-items: center;
}
.features-info {
  font-weight: 600;
  font-size: 22px;
  text-align: center;
}
.features-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
}
.features-button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 38px;
}
.button-features {
  border-radius: 4px;
  background: #02897a;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  padding-block: 15px;
  padding-inline: 33px;
  margin: 0 auto;
  min-width: 178px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-button-first:hover,
.mobile-button-first:focus,
.mobile-button-second:hover,
.mobile-button-second:focus,
.button-first:hover,
.button-first:focus,
.button-second:hover,
.button-second:focus,
.button-first-hero:hover,
.button-first-hero:focus,
.button-features:hover,
.button-features:focus {
  background-color: #026c5e;
}
@media screen and (min-width: 700px) {
  .features-section {
    padding-bottom: 50px;
  }
  .features-title {
    margin-left: auto;
    margin-right: auto;
    max-width: 530px;
    text-align: center;
  }
  .features-list {
    flex-direction: row;
    gap: 30px;
    margin-bottom: 50px;
    align-items: baseline;
  }
  .features-item {
    max-width: 255px;
    align-items: flex-start;
    flex: 1;
    min-width: 0;
  }
  .features-text-container {
    display: flex;
    flex-direction: column;
    gap: 13px;
    align-items: flex-start;
  }
  .features-info {
    font-weight: 600;
    font-size: 22px;
  }
  .features-text {
    text-align: left;
  }
}
/* managment */
.management-section {
  margin-bottom: 100px;
}
.container.management-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 84px;
}
.management-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.management-title {
  font-weight: 700;
  font-size: 32px;
  display: inline-flex;
  flex-direction: column;
  margin-bottom: 25px;
}
.management-title-part {
  font-weight: 600;
  font-size: 16px;
}
.management-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.management-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.management-title-info {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.625;
}
.management-info {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
}
/* customer */
.customer-section {
  margin-bottom: 100px;
}
.container.customer-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 84px;
}
.customer-text-container {
  display: flex;
  flex-wrap: wrap;
}
.customer-title {
  display: inline-flex;
  flex-direction: column;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 32px;
}
.customer-title-part {
  font-weight: 600;
  font-size: 16px;
}
.customer-text {
  margin-bottom: 30px;
}
.customer-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.customer-items {
  display: flex;
  align-items: center;
  gap: 30px;
}
.customer-icon-box {
  border: 2.92px solid #fff;
  border-radius: 14px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 10px;
}
.customer-icon-orange {
  background: #f90;
}
.customer-icon-red {
  background: #f03e3d;
}
.customer-icon-blue {
  background: #4d8dff;
}
.customer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
}
/* optimization */
.optimization-section {
  margin-bottom: 150px;
}
.container.optimization-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 84px;
}
.optimization-text-container {
  display: flex;
  flex-direction: column;
}
.optimization-title {
  display: inline-flex;
  flex-direction: column;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 32px;
}
.optimization-title-part {
  font-weight: 600;
  font-size: 16px;
}
.optimization-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;

  margin-bottom: 30px;
}
.optimization-list {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}
.optimization-items {
  display: inline-flex;
  flex-direction: column;
  gap: 12px;
}
.optimization-info-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.625;
}
.optimization-info {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
}
/* expert */
